@import url("https://use.typekit.net/tkq6qfa.css");

.header-container {
  align-items: center;
  background-color: rgba(89, 13, 160, 0.6);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 6em;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  max-width: 48em;
  width: 80%;
}

.header-title {
  color: rgb(248, 248, 248);
  font-family: poppins, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}